<%= stylesheet_link_tag "artists_show" %>

<h1 class="artist-releases">Releases by <%= @artist.name%></h1>
<div class="release-grid">
   <% @releases.each do |release| %>
      
      <div class="release-card">

      <%= link_to "/releases/%d" % release.id do %>
            <div class="release-card-flex">
               <div class="album"><%=release.title%></div>
               <div><img src=<%=release.thumb%>></div>
               <div class="year"><%=release.year%></div>
            </div>
      <%end%>
      </div>
   <% end %>
</div>
