<div id="title_search"><h1>SEARCH</h1></div>
<style>
    #title_search{
        background-color: transparent;
        
        color: black;
    }
</style>


<%if params[:query_artist].nil? && params[:query_release].nil? %>

    <%= form_with url: "/search", method: 'get' do |form| %>
        <%= form.label :query_artist,"Search for an artist:"%>

        <%= form.text_field :query_artist, :placeholder => "Nirvana" %>

        <%= form.submit "Submit" %>
    <% end %>

    <%= form_with url: "/search", method: 'get' do |form| %>
        <%= form.label :query_release, "Search for a release:" %>

        <%= form.text_field :query_release, :placeholder => "Nevermind" %>

        <%= form.submit "Submit" %>
    <% end %>


<% elsif params[:query_release].nil? && params[:query_artist] != nil %>
    <% @results_artists.each do |result| %>
        <div><%= link_to "%s" % [result.title], "/artists/%d" % result.id %></div>
    <% end %> 

<% elsif params[:query_artist].nil? && params[:query_release] != nil %>
    <% @results_releases.each do |result| %>
        <div>
            <%= link_to "%s" % [result.title], "/releases/%d" % result.id %>
            <img src=<%=result.thumb%>>
        </div>
    <% end %> 

<% end %>