<%= stylesheet_link_tag "search_index" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-search-index">
    
    <%if params[:query_artist].nil? && params[:query_release].nil? %>
    
    <div class="page-title">Find your favourite <b>artists</b> and <b>albums</b>. </div>

    <div class="search-container">

        <%= form_with url: "/search", method: 'get' do |form| %>
            <div>
            <%= form.label :query_artist,"Search for an artist:"%>
            </div>

            
            <div class="search-input">
                <%= form.text_field :query_artist, :placeholder => "e.g. Nirvana" %>
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        <% end %>

        <%= form_with url: "/search", method: 'get' do |form| %>
            <div><%= form.label :query_release, "Search for an album:" %></div>

            <div class="search-input">
                <%= form.text_field :query_release, :placeholder => "e.g. Nevermind" %>
                <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                </button>
            </div>

        <% end %>
    
    <% elsif params[:query_release].nil? && params[:query_artist] != nil %>
        <div class="search-results">
            <h1>Search results</h1>
            <% @results_artists[0,5].each do |result| %>
                <div class="result"><%= link_to "%s" % [result.title], "/artists/%d" % result.id, :class=>"artist_link" %></div>
            <% end %>
        </div>
    
    <% elsif params[:query_artist].nil? && params[:query_release] != nil %>
        <div class="search-results">
            <h1>Search results</h1>
            <% @results_releases.each do |result| %>
                <div class="result">
                    <%= link_to "/releases/%d" % result.id do %>
                            <div class="release-result">
                                <div><img src=<%=result.thumb%>></div>
                                <%artist_album = result.title.split('-')%>
                                <div> 
                                    <div class="album"><%=artist_album[1]%></div>
                                    <div class="artist"><%=artist_album[0]%></div>

                                </div>
                            </div>
                    <%end%>
                </div>

            <% end %>
        </div>
    
    <% end %>
    
    </div>
</div>

