<p id="notice"><%= notice %></p>

<p>
  <div id="username"> <h3>Username:</h3>
  <%= @user.username %></div>
</p>

<p>
  <div id=reviews_username><h3>Reviews:</h3>
  <% @user.reviews.each do |review| %>
    <div>
      <strong> <%= review.release.title %> </strong> <br>
      <%= review.title %>
      <%= review.body %>
      <%= review.rating %>
    </div>
  <% end %>
  </div>
</p>

<!--%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %-->

<style>
  #username{
    color:white;
  }

  #reviews_username{
    color:white;
  }

  
</style>