
<div>
  <div class=user-reviews><h2>Reviews by <%= @user.username %>:</h3>
  <% @user.reviews.each do |review| %>
    
    <%= link_to "/releases/%d" % review.release.id do %>
    <div class="review"> 

      <div class="album-title"><b> <%= review.release.title %> </b></div>
     
      <div class="rating">
          <b> <%= review.rating %></b>/10
      </div>

      <div class="title">
          <%= review.title %>
      </div>
      
      <div class="body">
          <%= review.body %>
      </div>
    </div>
    <%end%>
  <% end %>
  </div>
</div>


<!--%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %-->
