<div id="release_cover">
 <img src=<%=@release_data.images[0].resource_url%>>
</div>

<div id="release_titles"><h1><%= @release_data.title%></h1></div>

<div id="artist_name">
<%= link_to @release_data.artists[0].name, "/artists/%d" % @release_data.artists[0].id %>
</div>





<div id="tracklist"><h2>Tracklist: </h2></div>
<ul>
<% @release_data.tracklist.each do |track| %>
   <li id="tracks"><span id=track_name> <%= track.title %>  </span>  <span id=track_duration> <%= track.duration %> </span></li>
<% end %>
</ul>
<div id="review_table">
<div id="add_review"><h2>Add a review:</h2></div>
<% if user_signed_in? %>
   <%= render 'reviews/form' %>
<% else %>
   Log in to write a review!
<% end %>

<div id="reviews_releases_title"><h2>Reviews</h2></div>
<div id="reviews_releases"><%= render @release.reviews.select(&:persisted?) %></div>
</div>




<style>
   #release_cover{
        background-color: transparent;
        font-size:14px;
        color: black;
        margin-bottom:1em;
        text-align:center;
        float:center;
        font-weight:bold;
        line-height:50px;     
   }
   #release_titles{
        background-color: transparent;
        font-size:25px;
        float:center;
        color:black;
        margin-bottom:1em;
        
        text-align:left;

   }
    #artist_name{
        background-color: transparent;
        font-size:20px;
        float:center;
        color:black;
        margin-bottom:1em;
        
        text-align:left;

   }

   #tracklist{
        background-color: transparent;
        font-size:18px;
        float:center;
        color:black;
        margin-bottom:1em;
        
        text-align:left;

   }
   

   #reviews_releases_title{
      
        font-size:20px;
        float:center;
        margin-top:70px;
        margin-bottom:1em;
        
   }

   #reviews_releases{
      font-size:16px;
      float:center;
      margin-top:10px;
      margin-bottom:1em;
   
   }

   #track{
      margin-bottom:20px;
   }
   #track_name{
      background-color: transparent;
      font-size:18px;
      float:center;
      color: black;
      margin-bottom:10px; 
      text-align:left;
   }

   #track_duration{
      background-color: transparent;
      font-size:20px;
      float:center;
      color: grey;
      margin-bottom:10px;
      text-align:left;
      display: inline;
   
    }
   #review_table{
      background-color: transparent;
      text-align:left;
      overflow:hidden;
      margin:0;
      padding:0;
      width:100%;
      color:black;
      margin-bottom:1em;
   }
   #add_review{
      margin-top:70px;
      font-size:20px;
      float:center;
      background-color: transparent;
      margin-bottom:10px;


   }
    
</style>