<div id="release_cover">
 <img src=<%=@release.images[0].resource_url%>>
</div>

<div id="release_titles"><h1><%= @release.title%></h1></div>

<div id="artist_name">
<%= link_to @release.artists[0].name, "/artists/%d" % @release.artists[0].id %>
</div>

<div id="tracklist"><h2>Tracklist: </h2></div>
<% @release.tracklist.each do |track| %>
   <div id=tracks> <%= track.title %> <%= track.duration %> </div>
<% end %>

<div id="review_table">
<div id="add_review"><h2>Add a review:</h2></div>
<% if user_signed_in? %>
   <%= render 'reviews/form' %>
<% else %>
   Log in to write a review!
<% end %>

<div id="reviews_releases_title"><h2>Reviews</h2></div>
<div id="reviews_releases"><%= render @release_object.reviews.select(&:persisted?) %></div>
</div>

<!--Agregar duracion total del release:
<% @release.tracklist.each do |track| %>
   <div id=tracks><% track.duration %> </div>
   <p>Release durantion</p>
<% end %>-->


<style>
   #release_cover{
        background-color: transparent;
        font-size:14px;
        color: black;
        margin-bottom:1em;
        text-align:center;
        float:center;
        font-weight:bold;
        line-height:50px;     
   }
   #release_titles{
        background-color: transparent;
        font-size:25px;
        float:center;
        color:black;
        margin-bottom:1em;
        
        text-align:left;

   }
    #artist_name{
        background-color: transparent;
        font-size:20px;
        float:center;
        color:black;
        margin-bottom:1em;
        
        text-align:left;

   }

   #tracklist{
        background-color: transparent;
        font-size:18px;
        float:center;
        color:black;
        margin-bottom:1em;
        
        text-align:left;

   }
   

   #reviews_releases_title{
      
        font-size:20px;
        float:center;
        margin-top:15px;
        margin-bottom:1em;
        
   }

   #reviews_releases{
      font-size:16px;
      float:center;
      margin-top:10px;
      margin-bottom:1em;
   
   }
   #tracks{
        background-color: transparent;
        font-size:25px;
        float:center;
        color: black;
        margin-bottom:1em;
        
        text-align:left;

    }
   #review_table{
      background-color: brown;
      text-align:left;
      overflow:hidden;
      margin:0;
      padding:0;
      width:100%;
      color:white;
      margin-bottom:1em;
   }
   #add_review{
      margin-top:10px;
      font-size:20px;
      float:center;
      background-color: brown;
      margin-bottom:10px;


   }
    
</style>