<%= stylesheet_link_tag "releases_show" %>


<div class="container">
  <div class="album-container">
  
    <div class="left">
      <div class="title"><h1><%= @release_data.title%></h1></div>
      <div class="artist-name">
      <%= link_to @release_data.artists[0].name, "/artists/%d" % @release_data.artists[0].id %>
      </div>

      <div class="image-container"><%=image_tag(@release_data.images[0].resource_url, :class => "release_cover") %></div>
    </div>
  
  
    <div class="right">
      
      <table>
        <caption>Tracklist</caption>
        
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <%unless @release_data.tracklist[0].duration == ''%>
              <th>Duration</th>
            <%end%>
          </tr>
        </thead>
        <% track_number = 1 %>
        <% @release_data.tracklist.each do |track| %>
          <tr>
            <td><%=track_number%></td>
            <td><%= track.title %></td>
            <%unless @release_data.tracklist[0].duration == ''%>
            <td><%= track.duration %></td>
            <%end%>
          </tr>
          <% track_number += 1 %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="review-form-container">
    <h2>Add a review</h2>
    <% if user_signed_in? %>
      <%= render 'reviews/form' %>
    <% else %>
      <div class="log_in_message">Log in to write a review!</div>
    <% end %>
  </div>

  <div class="reviews-container">
    <%if @release.reviews.length > 1%>
    <h2>Reviews</h2>
    <%= render @release.reviews.select(&:persisted?) %>
    <%end%>
  </div>
</div>




