<%= stylesheet_link_tag "releases_show" %>

<%= form_with model: [ @release, @review ] do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.label :rating %><br>
        <%= form.number_field :rating, in: 0..10%>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
<% end %>