<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MusicOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="style.css">
  </head>

  <body 
    background="https://wallpaperboat.com/wp-content/uploads/2019/10/best-background-for-website-01.jpg">
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <div id="img"> <% link_to image_tag("logos/logo.jpg"), root_path, :class => "style_image" %> </div>
      <div class="wrapper">
        <div class="logo"> <%= link_to "MusicOnRails", root_path,:class => "name" %> </div>  
      </div>

      <nav> 
        <% if user_signed_in? %>
          <%= link_to "Profile" , "/users/%d" % current_user.id %>
          <%= link_to 'Log out', destroy_user_session_path, :method => :delete%>
        <% else %>
          <%= link_to 'Log in', new_user_session_path %>
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>   
          <%= link_to 'Source Code', "https://github.com/aflouret/rails-music-app" %>  
          <%= link_to 'Top 10', "/releases" %>       
      </nav>

      
    </header>
    <%= yield %>    

    <style>

        *{margin:0;padding:0;}

        .style_image{
          max-height: 150px;
          max-width: 200px;
          width: 120px;
          height: 120px;
          border: 1px solid red;
        }
        
        .header{
          margin:0;
          padding:0;
          width:100%;
          overflow:hidden;
          background:transparent;
          margin-bottom:20px;
          
        }


        .wrapper {
          width:90%;
          max-width:1500px;
          margin:auto;
          overflow:hidden;
        }

        header .logo{
          color:black;
          font-family: "Great Vibes","Brush Script MT"; 
          font-style cursive; 
          font-size:50px;
          line-height:40px;
          float:left;
          font-weight:normal;
          margin-bottom: 40px; 
          margin-top: 5px; 
          text-shadow: 0 1px 1px #fff;
        }

        .name{
          text-decoration:none;
          color:black;
          font-family: "Great Vibes","Brush Script MT"; 
          font-style cursive; 
          background-color:transparent;
        }
        header nav{
          text-decoration:none;
          float:right;
          line-height:20px;
        }

        header nav a{
          display:inline-block;
          color:white;
          text-decoration:none;
          padding;10px 20px;
          line-height:normal;
          font-size:20px;
          font-weight:bold;
          -webkit-transition:all 500ms ease;
          -o-transition:all 500ms ease;
          transition:all 500ms ease;
          margin-left: 30px;
          margin-right: 30px;
          float:center;
        }

        header nav a:hover{
          background:#f56f3a;
          border-radius:50px;
        }

        #user_things{
          
          font-size:20px;
          float:center;
          color:red;
          text-align:right;
        }

        


        
    </style>
  </body>

</html>


