<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MusicOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <header>
        <%= link_to root_path,:class=>"name" do%>
        <div class="logo">  
          <%= image_tag "musiconrails"%>

          <div>musicOnRails</div>
        </div> 

        <%end%>
      <ul class="links"> 
        <% if user_signed_in? %>
          <li><%= link_to "Profile" , "/users/%d" % current_user.id %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete%></li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>   
          <li><%= link_to 'Top 10', "/releases" %>       </li>
      </ul>
    </header>
    
    <%= link_to "https://github.com/aflouret/rails-music-app" do%>
    <div class="source-code-container">
      <%= image_tag "githublogo"%>
      <div> Source Code </div>
    </div>
    <%end%>

    <%= yield %>    
  </body>

</html>


